@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background: linear-gradient(90deg, #5A2E8C, #6C1E9C, #4A1C7D, #5A2E8C);
    background-size: 400% 100%; /* Estica mais o gradiente */
    animation: gradientAnimation 15s infinite linear; /* Animação contínua */
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

/* Animação suave do gradiente */
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%; /* Começa na posição inicial */
    }
    25% {
      background-position: 100% 50%; /* Move para a direita */
    }
    50% {
      background-position: 200% 50%; /* Move para o meio */
    }
    75% {
      background-position: 300% 50%; /* Move para a posição final */
    }
    100% {
      background-position: 0% 50%; /* Retorna ao começo */
    }
}

header > .logo{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > .logo > h1{
    text-align: center;
}

header > .nav_list{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
}

header > .nav_list > .botton_list{
    cursor: pointer;
}

nav{
    display: none;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main > .lista{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 90%;
    height: 300px;
    border: 3px solid rgba(0, 0, 0, 0.441);
    margin: 5%;
}

main > .lista > .titulo_lista_tarefas{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 1%;
    background-color: #6c1e9c09;
    color: #8484845a;
}

main > .lista > .list_tarefas{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-editavel{
    width: 300px;
    height: 25px;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
}

/*estilizando menu lateral*/
#menu_lateral{
    display: none;
    justify-content: left;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    background-color: transparent;
    color: white;
}

#menu_lateral > .conteudo_menu{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background-color: rgba(118, 118, 118, 0.758);
}

#menu_lateral > .conteudo_menu > .fechar_navLateral{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 10%;
    padding: 10%;
    font-size: 30px;
}

#menu_lateral > .conteudo_menu > .selecao_menuLateral{
    width: 100%;
    height: 90%;
}

#menu_lateral > .conteudo_menu > .selecao_menuLateral > ul{
    width: 100%;
    height: 100%;
    list-style-type: none;
}

#menu_lateral > .conteudo_menu > .selecao_menuLateral > ul > li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    margin-bottom: 3%;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#menu_lateral > .conteudo_menu > .selecao_menuLateral > ul > li > i{
    font-size: 2.2rem;
}

/*estilizando modal do login*/
#modal{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.393);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#modal > #cadastrarLogin{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    height: 65%;
    padding: 20px;
    gap: 30px;
}

#modal > .conteudo_modal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    height: 65%;
    padding: 20px;
    gap: 20px;
}

#modal > #modal_esqueci_senha{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    height: 65%;
    padding: 20px;
    gap: 30px;
}

#modal > .conteudo_modal > p, #modal > #cadastrarLogin > p{
    font-size: 2.0rem;
    font-weight: bold;
}

#modal > .conteudo_modal > input, #modal > #cadastrarLogin > input{
    width: 100%;
    height: 25%;
    padding: 5px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 5px rgba(162, 162, 162, 0.555);
}

#modal > .conteudo_modal > .inputSenhaLogin, #modal > #cadastrarLogin > .inputSenhaLogin{
    width: 100%;
    height: 25%;
    position: relative;
}

#modal > .conteudo_modal > .inputSenhaLogin > input, #modal > #cadastrarLogin > .inputSenhaLogin > input{
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-right: 40px; /* Espaço para o ícone */
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(162, 162, 162, 0.555);
}

#modal > .conteudo_modal > .inputSenhaLogin > i, #modal > #cadastrarLogin > .inputSenhaLogin > i{
    font-size: 1.7rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #999;
    cursor: pointer;
}

#modal > .conteudo_modal > #div_senha_erro{
    display: none;
    width: 100%;
    height: 12%;
    font-size: 12px;
    color: red;
}

#modal > .conteudo_modal > #enviarLogin{
    width: 100%;
    height: 25%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.5s;
}

#modal > .conteudo_modal > #enviarLogin:hover{
    transform: scale(1.1);
}

#modal > #cadastrarLogin > #enviarCadastro{
    width: 100%;
    height: 25%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.5s;
}

#modal > #cadastrarLogin > #enviarCadastro:hover{
    transform: scale(1.1);
}

#modal > .conteudo_modal > .buttons_modal, #modal > #cadastrarLogin > .buttons_modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 20%;
    background-color: white;
    gap: 5%;
}

#modal > .conteudo_modal > .buttons_modal > button{
    width: 30%;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

#modal > .conteudo_modal > .buttons_modal > button:hover{
    transform: scale(1.1);
}

#modal > #cadastrarLogin > .buttons_modal > button{
    width: 35%;
    height: 90%;
    cursor: pointer;
}

#modal > .conteudo_modal > .buttons_modal > #esqueci_senha{
    color: rgb(100, 100, 255);
}

#modal > .conteudo_modal > .buttons_modal > .cadastrarLogin{
    width: 35%;
    background-color: bisque;
    border-radius: 20px;
}

#modal > .conteudo_modal > .buttons_modal > .fechar_modal{
    width: 35%;
    background-color: bisque;
    border-radius: 20px;
}

#modal > .conteudo_modal > button{
    width: 60%;
    height: 8%;
}

@media (min-width: 768px){
    body{
        flex-direction: row;
    }

    header{
        flex-direction: column;
        width: 300px;
        height: 100vh;   
    }

    header > .nav_list{
        display: none;
    }

    header > .logo{
        width: 100%;
        height: 10%;
        color: white;
    }

    header > nav{
        display: flex;
        width: 100%;
        height: 90%;
    }

    /*eslizando menu lateral*/
    nav > .selecao_menuLateral{
        width: 100%;
        height: 100%;
        color: white;
    }

    nav > .selecao_menuLateral > ul{
        width: 100%;
        height: 100%;
        list-style-type: none;
    }

    nav > .selecao_menuLateral > ul > li{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15%;
        margin-bottom: 3%;
        gap: 20px;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.5s;
    }

    nav > .selecao_menuLateral > ul > li:hover{
        transform: scale(1.1);
    }

    nav > .selecao_menuLateral > ul > li > i{
        font-size: 2.5rem;
    }
    /*fim do estilo do menu lateral*/

    main {
        width: 80%;
        justify-content: center;
        align-items: center; 
        flex-direction: column; 
        justify-content: center;
    }

    main > .lista{
        width: 70%;
        height: 300px;
    }

    main > .lista > .titulo_lista_tarefas{
        height: 45px;
        padding: 1%;
    }

    /*estilanzando modal de login*/
    #modal > .conteudo_modal, #modal > #cadastrarLogin{
        width: 550px;
        height: 550px;
    }

    #modal > .conteudo_modal > p, #modal > #cadastrarLogin > p{
        font-size: 2.5rem;
    }

    #modal > .conteudo_modal > input, #modal > #cadastrarLogin > input{
        width: 90%;
        height: 15%;
    }

    #modal > .conteudo_modal > .inputSenhaLogin, #modal > #cadastrarLogin > .inputSenhaLogin{
        width: 90%;
        height: 15%;
    }

    #modal > .conteudo_modal > .buttons_modal, #cadastrarLogin > .buttons_modal{
        flex-direction: row;
        width: 80%;
        height: 20%;
    }

    #modal > #cadastrarLogin > .buttons_modal, #cadastrarLogin > .buttons_modal{
        width: 80%;
        height: 20%;
    }


    #modal > .conteudo_modal > #enviarLogin{
        width: 80%;
        height: 15%;
    }

    #modal > #cadastrarLogin > #enviarCadastro{
        width: 80%;
        height: 15%;
    }

    #modal > .conteudo_modal > .buttons_modal > button{
        width: 40%;
        height: 80%;
    }

    #modal > #cadastrarLogin > .buttons_modal > button{
        width: 30%;
        height: 80%;
    }


}